@use 'variables' as var;
@use 'mixins' as mix;

header .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var.$secondary-bg;
  }
  
  .logo {
    max-width: 75px;
    @include mix.border-radius(50%);
    height: auto;
  }
  