$primary-bg: #cebacf;
$secondary-bg: #84553da9;
$button-bg: #ff6600bd;
$white-color: #fff;
$primary-font-color: #faf4d3;
$secondary-font-color: #343a40;
$shadow-color: brown;
$font-family-dancing: "Dancing Script";
$font-family-times: 'Times New Roman', Times, serif;
